/*---------------------Header-------------------*/

.registration-header {
    display: inline;
}


/*---------------------Colours-------------------*/

.brand-blue {
    background-color: navy;
    color: white;
    height: 40px;
}