/*---------------------Colours-------------------*/

.brand-blue {
    background-color: #0024C2;
    color: white;
}

.contact-details {
    background: white;
    color: #0024C2;
}

.active {
    color: #0024C2!important;
    background: white;
}

.friendly .bet {
    font-weight: 600;
    font-size: 60%;
}

.green {
    color: green;
}

/*---------------------Headings-------------------*/

.page-heading {
    font-family: 'Exo 2', sans-serif;
}

/*---------------------Footer-------------------*/

.uppercase {
    text-transform: uppercase;
}

.font-exo {
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}

.color-white {
    color: white !important;
}