/*---------------------Header-------------------*/

.registration-header {
    display: inline;
}

.logo {
    background-color: red;
}


/*---------------------Colours-------------------*/

.brand-blue {
    background-color: navy;
    color: white;
    height: 40px;
}

.friendly {
    color: white;
}

.logo .bet {
    color: #e78200;
}

/*---------------------Footer-------------------*/

.uppercase {
    text-transform: uppercase;
}

.social {
    text-align: center;
}
